.Navbar{
  font-size:14px;
  margin-left: auto;
  margin-right: auto;
}
.logo{
  width: 60px;
}
.nav-btn{
  width:75px;
  height: 35px;
  background-color: brown;
}
.hero-head{
  color: black;
  font-weight: bolder;
  font-size: 90px;
  display:flex;
  line-height: 77px;
  text-align: center;
  margin-top:50px;
}
.hero-para{
  margin-top: 50px;
}
.cat-btn{
  margin-left: 30px;
}
.flip-btn{
  margin-left: 15px;
}
.img-row{
  width:110%;
}